:root{
    --clr-blue-900: rgb(41, 41, 180);
    --clr-blue-500: CornflowerBlue;
    --clr-blue-100: lightskyblue;
    --clr-neutral-900: black;
    --clr-neautral-500: tan;
    --clr-neautral-100: white;
    --clr-blue-909: linear-gradient(to right, rgba(10,32,205,.6), rgba(10, 32, 205,0.99), rgba(10, 32, 205,1));
}

body {
    background-color: var(--clr-neautral-500);
}

/* Top Bar */
.navbar-cutsom{
    background: var(--clr-blue-909);
    color: var(--clr-neautral-100);
    font-weight: bolder;
    grid-row: span;
    justify-content: center;
    font-family: serif;
}


/* wraps the main content */
.wrapper {
    max-width: 80em;
    margin: 15px auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'one'
    'two'
    'three';
}

/* Side Bar */
#sidebar-custom{
    grid-area: one;
    justify-content: center;
    
}

.input-custom {
    text-align: center;
    border-radius: 16px;
    margin-top: 0px;
}

.input-custom {
    transform: scale(1.1);
}

.list-custom{
    background-color: var(--clr-blue-500);
    color: var(--clr-neutral-900);

    margin-bottom: 5px;
    border-radius: 16px;
    max-width: 30em;

    text-align: center;
    align-self: center;
}

.list-custom:hover{
    background-color: steelBlue;
    transform: scale(1.1);
}

/* Current Weather */
#currentWeather{
    grid-area: two;

}

.weatherWrapper h3{
    text-align: center;
    font-size: larger;
}

.weatherWrapper{ 
    background-color: var(--clr-blue-500);
    padding: 15px;
    border-radius: 16px;
    text-align: left;
}

.weatherWrapper:hover{
    transform: scale(1.01);
}

#uv{
    padding: 2px 7px;
    border-radius: 16px;
}


/* 5 Day Forecast */
.forecast{
    grid-area: three;
}

.forecast h2 {
    text-align: center;
    font-weight: bolder;
    font-family: serif;
}

.forecast h3 {
    text-align: center;
    font-weight: bolder;
    font-family: serif;
}
.forecast div {
    background-color: var(--clr-blue-900);
    color: var(--clr-neautral-100);
    
    text-align: center;
    font-size: large;
    padding: 5px;
    border-radius: 1em;
}

.forecast img{
    align-self: center;
}

.forecast div:hover{
    transform: scale(1.05);
}

.forecast:hover{
    transform: translateY(0);
    transition-delay: 500ms;
}

.forecast h3{
    border-bottom: 4px black solid;
    text-align: center;
    font-size: x-large;
}

.cards{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    '1 2 3'
    '4 5'; 
}

.cards:nth-child(1){
    grid-area: 1;
}
.cards:nth-child(2){
    grid-area: 2;
}
.cards:nth-child(3){
    grid-area: 3;
}
.cards:nth-child(4){
    grid-area: 4;
}
.cards:nth-child(5){
    grid-area: 5;
}

/* General Style */
.temp{
    font-size: x-large;
}
.lead{
    font-weight: bolder;
    font-size: x-large;
    margin: 0px 10px;
}


/* Responsive Layout with Grid */
@media (min-width: 50em) {
    .wrapper{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        'one two two two'
        'one three three three';
    }
    .cards{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        '1 2 3 4 5'; 
 }};

 @media (max-width: 50em){
    .cards{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        '1 2 3'
        '1 4 5'; 
 }};